$button-blue: rgb(70, 132, 247) !default;
$button-gray: rgba(243, 243, 243, 0.801) !default;
//若后续要Add新的句子时则需要 use button colors above

$text-gray: #424242;
$chart-background: #f5f5f5;
$mouseover: #757575;
$mouseover-text: #fff;
$guilty-red: #ef5350;
$clean-green: #66bb6a;